<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the incoming_deceased_init() hook (in hooks/incoming_deceased.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="incoming_deceased-fullname-<%%VALUE(id)%%>" class="incoming_deceased-fullname"><%%SELECT%%><%%VALUE(fullname)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-gender-<%%VALUE(id)%%>" class="incoming_deceased-gender"><%%SELECT%%><%%VALUE(gender)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-tag_number-<%%VALUE(id)%%>" class="incoming_deceased-tag_number"><%%SELECT%%><%%VALUE(tag_number)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-serial_number-<%%VALUE(id)%%>" class="incoming_deceased-serial_number"><%%SELECT%%><%%VALUE(serial_number)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-relative_name-<%%VALUE(id)%%>" class="incoming_deceased-relative_name"><%%SELECT%%><%%VALUE(relative_name)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-relative_number-<%%VALUE(id)%%>" class="incoming_deceased-relative_number"><%%SELECT%%><%%VALUE(relative_number)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-room-<%%VALUE(id)%%>" class="incoming_deceased-room"><%%SELECT%%><%%VALUE(room)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-bed-<%%VALUE(id)%%>" class="incoming_deceased-bed"><%%SELECT%%><%%VALUE(bed)%%><%%ENDSELECT%%></td>
		<td id="incoming_deceased-date-<%%VALUE(id)%%>" class="incoming_deceased-date"><%%SELECT%%><%%VALUE(date)%%><%%ENDSELECT%%></td>
