<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the relatives_info_init() hook (in hooks/relatives_info.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="relatives_info-first_relative_full_name-<%%VALUE(id)%%>" class="relatives_info-first_relative_full_name"><%%VALUE(first_relative_full_name)%%></td>
		<td id="relatives_info-home_address-<%%VALUE(id)%%>" class="relatives_info-home_address"><%%VALUE(home_address)%%></td>
		<td id="relatives_info-home_town-<%%VALUE(id)%%>" class="relatives_info-home_town"><%%VALUE(home_town)%%></td>
		<td id="relatives_info-occupation-<%%VALUE(id)%%>" class="relatives_info-occupation"><%%VALUE(occupation)%%></td>
		<td id="relatives_info-phone_number-<%%VALUE(id)%%>" class="relatives_info-phone_number"><%%VALUE(phone_number)%%></td>
		<td id="relatives_info-second_relative_full_name-<%%VALUE(id)%%>" class="relatives_info-second_relative_full_name"><%%VALUE(second_relative_full_name)%%></td>
		<td id="relatives_info-second_relative_home_address-<%%VALUE(id)%%>" class="relatives_info-second_relative_home_address"><%%VALUE(second_relative_home_address)%%></td>
		<td id="relatives_info-second_relative_home_town-<%%VALUE(id)%%>" class="relatives_info-second_relative_home_town"><%%VALUE(second_relative_home_town)%%></td>
		<td id="relatives_info-second_relative_occupation-<%%VALUE(id)%%>" class="relatives_info-second_relative_occupation"><%%VALUE(second_relative_occupation)%%></td>
		<td id="relatives_info-second_relative_phone_number-<%%VALUE(id)%%>" class="relatives_info-second_relative_phone_number"><%%VALUE(second_relative_phone_number)%%></td>
